/* inicia barra de navegacion*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
/* termina barra de navegacion*/

/* Inicio de imagenes */
img {
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* Termino de imagenes */

/* inicio texto */
  