/* inicia barra de navegacion*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E11299;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
/* termina barra de navegacion*/

/* Inicio de imagenes */
img {
  width: 350px;
  height: 350px;

  border-radius: 8px;
  box-shadow: 0 0 10px 10px pink
}
/* Termino de imagenes */

/* inicio texto */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

/* termino texto */

/*color del fondo */
body{
  background-color:  #9A208C;
}

h1{
  color: #FFEAEA;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
}

h2{
  color: #FFEAEA;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
}
 p{
  color: #FFEAEA;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
 }

a{
  color: #FFEAEA;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
}
/* termino del color*/

  